<footer class="app-footer">
	<div>
		<h5>Knguyen-dev <%= new Date().getFullYear() %></h5>
	</div>
	<nav class="nav">
		<ul class="nav-list">
			<li>
				<a href="#">Github</a>
			</li>
		</ul>
	</nav>
</footer>
